{templateType App\Component\Datagrid\DataGridTemplate}
{import $basicFormFile}
{snippet dataGrid}

    <div class="card card-grid min-w-full" n:snippet="content">
        <div class="card-header flex-wrap gap-2">
            <h3 class="card-title font-medium text-sm">
                {_'paginator_show %perPage% from %count%', 'perPage' => $paginator->getLastItemOnPage(), 'count' => $paginator->getItemCount()}
                <a n:href="export" n:if="$isEnabledExport" class="btn btn-primary">{_'button_export'}</a>
            </h3>
            <div class="flex flex-wrap gap-2 lg:gap-5" n:if="$isEnabledGlobalSearch || count($dataGridEntity->getFilters()) > 0">
                <div class="flex gap-2">
                    <label class="input input-sm dataGridFilter" n:foreach="$dataGridEntity->getFilters() as $name => $filterEntity" data-url="{link 'changeFilter', $name, 'xxxxxx'}">
                        {$filterEntity->getInput($name, array_key_exists($name, $filter) ? $filter[$name] : null)}
                        {$filterEntity->getInputLabel($name)}
                    </label>
                    <label class="input input-sm" n:if="$isEnabledGlobalSearch">
                        <i class="ki-filled ki-magnifier">
                        </i>
                        <input placeholder="{_'input_search'}" type="text" value="{$globalSearchText}" class="globalSearch" data-url="{link 'globalSearch!', 'xxxxxx'}" />
                    </label>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="scrollable-x-auto">
                <table class="table table-auto table-border">
                    <thead>
                    {foreach $columns as $column}
                        <th class="min-w-[200px]">
                            <a n:tag-if="$column->isEnabledSort()" n:class="'sort ajax', $column->getColumn() === $sort && $sortDir === App\Component\Datagrid\SortDirEnum::ASC->value ? 'asc', $column->getColumn() === $sort && $sortDir === App\Component\Datagrid\SortDirEnum::DESC->value ? 'desc'" n:href="setSort, $column->getColumn(), $sortDir === App\Component\Datagrid\SortDirEnum::ASC->value ? App\Component\Datagrid\SortDirEnum::DESC->value : App\Component\Datagrid\SortDirEnum::ASC->value">
                                <span class="sort-label text-gray-700 font-normal">
                                    {$column->getLabel()}
                                </span>
                                <span class="sort-icon" n:if="$column->isEnabledSort()">
                                </span>
                            </a>
                        </th>
                    {/foreach}
                    <th n:if="count($menus) > 0">
                        {_'column_action'}
                    </th>
                    </thead>
                    <tbody>

                    {foreach $selection as $activeRow}
                        <tr>

                            {foreach $columns as $column}
                                {$column->render($activeRow)}
                            {/foreach}

                            <td n:if="count($menus) > 0">
                                <div class="menu" data-menu="true">
                                    <div class="menu-item" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-placement-rtl="bottom-start" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                                        <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                                            <i class="ki-filled ki-dots-vertical">
                                            </i>
                                        </button>
                                        <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                                            <div class="menu-item" n:foreach="$menus as $menu" n:if="$presenter->getUser()->isAllowed($module->system_name, $menu->plink) && ($menu->getEntity()->getShowCallback())($activeRow)">
                                                {var array $params['id'] = $activeRow['id']}
                                                {php $params += $menu->getEntity()->getParams()}
                                                <a class="menu-link" href="{plink $menu->plink ...$params}">
                                                    <span class="menu-icon" n:if="$menu->getIcon() !== null">
                                                        <i class="{$menu->getIcon()}"></i>
                                                    </span>
                                                    <span class="menu-title">
                                                        {$menu->label}
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
                <div class="flex items-center gap-2 order-2 md:order-1">
                </div>
                <div class="flex items-center gap-4 order-1 md:order-2">
                    <span data-datatable-info="true">{_'%itemFrom%-%itemTo% z %count%', 'itemFrom' => $paginator->getOffset() + 1, 'itemTo' => ($paginator->getOffset() + $paginator->getItemsPerPage() < $paginator->getItemCount() ? $paginator->getOffset() + $paginator->getItemsPerPage() : $paginator->getItemCount()), 'count' =>$paginator->getItemCount()}</span>
                    <div class="pagination">
                        <div class="pagination">
                            <a n:href="setPage, $paginator->getPage() - 1" n:class="'btn ajax', $paginator->isFirst() ? 'disabled'" {if $paginator->isFirst()}disabled=""{/if}>
                                <i class="ki-outline ki-black-left rtl:transform rtl:rotate-180"></i>
                            </a>
                            {for $interalPage = 1; $interalPage <= $paginator->getPageCount(); $interalPage++}
                                <a n:href="setPage, $interalPage" n:class="'btn ajax', $interalPage === $paginator->getPage() ? 'active disabled'" {if $interalPage === $paginator->getPage()}disabled=""{/if}>{$interalPage}</a>
                            {/for}
                            <a n:href="setPage, $paginator->getPage() + 1" n:class="'btn ajax', $paginator->isLast() ? 'disabled'" {if $paginator->isLast()}disabled=""{/if}>
                                <i class="ki-outline ki-black-right rtl:transform rtl:rotate-180"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/snippet}

<div class="modal" data-modal="true" id="datagrid-inline-edit">
    <div class="modal-content max-w-[600px] top-[10%]">
        <div class="modal-header">
            <h3 class="modal-title">
                {block title}{/block}
            </h3>
            <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
                <i class="ki-outline ki-cross">
                </i>
            </button>
        </div>
        <div class="modal-body">
            {snippet inlineModalBody}
                {embed basicForm, formInlineEdit}{/embed}
            {/snippet}
        </div>
    </div>
</div>
